html{
    scroll-behavior: smooth;
}

main {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #e6e1e1;
}
body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(216, 215, 215, 0.945);
}
body a{
    text-decoration: none;
}

footer {
    background-color: #6d6666;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: white;
}
h2{
    color: black;
}

#about {
    color: #000;
    text-align: center;
    margin: 20px 0;
    font-family:"poppins", sans-serif;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
#about-text h2{
    color: #000;
    font-size: 2em; 
    text-align: center;
    margin: 20px 0;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}
#about-text p{
    color: #000;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
    margin: 20px 0;
    font-family: "poppins", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

nav {
    background-color: #6d6666;
    text-decoration: none;
}
nav li{
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
}
nav a {
    color: white;
    text-decoration: none; 
}
#about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

#about .about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    width: 300px; /* Adjust as needed */
}

#about .about-text {
    max-width: 600px;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: left;
}

footer img{
    width: 50px;
    height: 50px;
}

section #projects {
    list-style-type: none;
    padding: 0;
    margin: 0;
}